__pycache__/
.vscode
backup.py
draw_loop
draw_loop.o
game-engine-3d/
geom.py
shapes.py
new.py
test1.py
test2.py
test3.py
test
test.o
test.c
draw_loop.c
gamebase.py
test.cpp
gamebase.exe
draw.exe
drawPolygons.so